<mat-card class="mat-elevation-z8">
  <mat-card-header>
    <mat-card-title>
      <div class="row">
        <div class="col no-padd">
          {{player.name}}
        </div>
        <div class="col no-padd">
          {{player.actualMoney | currency:'HUF':'symbol-narrow':'1.0-0':'hu'}}
        </div>
      </div>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="container-flex">
      <form class="example-form" [formGroup]="formGroup">
        <div class="row">
          <div class="col">
            <mat-form-field class="example-full-width">
              <mat-label>Jóváírás</mat-label>
              <input autocomplete="off" matInput currencyMask placeholder="Jóváírás értéke" formControlName="jovairas">
            </mat-form-field>
            <mat-error>
              <ng-container *ngIf="formGroup.hasError('required', 'jovairas') && formGroup.hasError('min', 'jovairas')">
                Érték megadása kötelező!
              </ng-container>
            </mat-error>
            <button mat-raised-button color="primary" (click)="add()">Jóváír</button>
          </div>
          <div class="col">
            <mat-form-field class="example-full-width">
              <mat-label>Terhelés</mat-label>
              <input autocomplete="off" currencyMask matInput placeholder="Terhelés értéke" formControlName="terheles">
            </mat-form-field>
            <mat-error>
              <ng-container *ngIf="formGroup.hasError('required', 'terheles') && formGroup.hasError('min', 'terheles')">
                Érték megadása kötelező!
              </ng-container>
            </mat-error>
            <button mat-raised-button color="warn" (click)="subtract()">Terhelés</button>
          </div>
        </div>
      </form>
    </div>
  </mat-card-content>
  <div class="row space-evenly">
    <button mat-raised-button class="purple" (click)="addSevenPercent()">7%</button>
    <button mat-raised-button class="purple" (click)="addFifteenPercent()">15%</button>
  </div>
  <hr>
  <div class="row space-evenly padding-t-b-1r">
    <mat-checkbox [(ngModel)]="player.insurances.retirementInsurance">Nyugdíjbizt</mat-checkbox>
    <mat-checkbox [(ngModel)]="player.insurances.childInsurance">Életbizt.</mat-checkbox>
  </div>
  <div class="row space-evenly padding-t-b-1r">
    <mat-checkbox [(ngModel)]="player.insurances.homeInsurance">Lakásbizt.</mat-checkbox>
    <mat-checkbox [(ngModel)]="player.insurances.casco">Casco</mat-checkbox>
  </div>
  <div class="row space-evenly padding-t-b-1r">
    <mat-checkbox [(ngModel)]="player.hasMorgage">Lakáshitel</mat-checkbox>
    <mat-checkbox [(ngModel)]="player.hasCarLeased">Autó hitel</mat-checkbox>
  </div>
  <ng-container *ngIf="player.hasMorgage || player.hasCarLeased">
    <hr>
    <form [formGroup]="leaseGroup" class="example-form">
      <div class="row">
        <div class="col">
          <span>{{player.houseRepaymentLeft | currency:'HUF':'symbol-narrow':'1.0-0':'hu'}}</span>
          <mat-form-field class="example-full-width">
            <mat-label>Ház törlesztés</mat-label>
            <input currencyMask autocomplete="off" matInput placeholder="min.: 90000" formControlName="houseRepay">
          </mat-form-field>
          <mat-error>
            <ng-container *ngIf="formGroup.hasError('required', 'houseRepay')">
              Érték megadása kötelező!
            </ng-container>
          </mat-error>
          <div class="row space-between">
            <button mat-raised-button color="primary" (click)="repayHouse()">Törleszt</button>
            <button mat-raised-button color="warn" (click)="autoRepayHouse()">-90000</button>
          </div>
        </div>
        <div class="col">
          <span>{{player.carRepaymentLeft | currency:'HUF':'symbol-narrow':'1.0-0':'hu'}}</span>
          <mat-form-field class="example-full-width">
            <mat-label>Autó törlesztés</mat-label>
            <input currencyMask autocomplete="off" matInput placeholder="min.: 130000" formControlName="carRepay">
          </mat-form-field>
          <mat-error>
            <ng-container *ngIf="formGroup.hasError('required', 'carRepay')">
              Érték megadása kötelező!
            </ng-container>
          </mat-error>
          <div class="row space-between">
            <button mat-raised-button color="primary" (click)="repayCar()">Törleszt</button>
            <button mat-raised-button color="warn" (click)="autoRepayCar()">-130000</button>
          </div>
        </div>
      </div>
    </form>
  </ng-container>
</mat-card>