<h1 mat-dialog-title>Mentett játék elérhető!</h1>
<div mat-dialog-content>
  Az alábbi játékosokkal:
  <ul>
    <li *ngFor="let player of data">
      {{ player.name }}
    </li>
  </ul>
  <p>Folytatja?</p>
  <div class="row justify-content-evenly">
    <div class="col-auto">
      <button
        mat-raised-button
        color="warn"
        class="padding-t-b1r"
        (click)="onCancel()"
      >
        Nem
      </button>
    </div>
    <div class="col-auto">
      <button
        mat-raised-button
        color="primary"
        class="padding-t-b1r"
        (click)="onApprove()"
      >
        Igen
      </button>
    </div>
  </div>
</div>
